.section-title {
    font-family: inherit;
    @include font(14px, $primary-title-color, 16px, 700);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px) {
        margin-left: 0;
        display: block;
    }
}
.section-box-title {
    font-family: inherit;
    @include font(28px, $primary-title-color, 33px, bold);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    padding-top: 60px;
}
